.masterlist {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9; /* Optional background */
    min-height: 100vh; /* Ensure it fills the viewport */
  }
  
  .summaryContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .summaryBox {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #4caf50;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  
  .summaryBox h3 {
    margin: 0;
    font-size: 25px;
    color: #333;
  }
  
  .summaryBox p {
    font-size:50px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #4caf50;
    color: rgb(0, 0, 0);
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  